.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 30rem;
    padding: 1rem;
    margin: 3rem auto;


    label {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__input {
        width: 300px;
        height: 30px;
        margin-bottom: 20px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    &__button {
        width: 150px;
        height: 40px;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &__wrapper{
            display: flex;
            gap: 1rem;
            button:nth-child(2){
                background-color: #000;
            }
        }
    }

    &__button:hover {
        background-color: #0056b3;
    }

    &__button:active {
        background-color: #003080;
    }

}